
.maps-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.maps-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.maps-card Button{
    margin: 8px;
    width: 110px;
    height: 80px;
    padding: 8px;

}

.show{
    display: block;
}
.hide{
    display: none;
}

@media  screen and (min-width : 1000px) {
    .maps-field{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .maps-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .maps-card Button{
        margin: 40px;
        
    }
    
}