.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #1a2d3a;
}

input:focus + .slider {
    box-shadow: 0 0 1px #1a2d3a;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



.logo{
    width: 80px;
    height: 60px;
}
    
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    /*color: #385b66;*/
    /*background-color: #92abb4; #5e8b9a;#7cb9cd*/
    background-color:  var(--nav-color);
    z-index: 2;
    padding: 10px;
    height: 60px;
    text-align: center;
    
}
.navBar-items{
    padding-right: 100px;
}

.navbar-ul{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-right: 80px;
}

.mobile{
    display: none;
}

.link{
    color: var(--color);
    text-decoration: none;
    font-size: 25px;
    padding: 25px;
    display: inline-block;
    width: 180px;
    margin: 0 auto;
}
.link1{
    color: var(--color);
    text-decoration: none;
    font-size: 25px;
    padding: 25px;
    display: inline-block;
    width: 200px;
    margin: 0;
    margin-left: 100px;
    margin-top: 380px;
}
.link2{
    color: var(--color);
    text-decoration: none;
    font-size: 25px;
    padding: 25px;
    display: inline-block;
    width: 200px;
}
/*.link2{
    position: absolute;
    right: 1000px;
    top: 0;
    color: var(--color);
    text-decoration: none;
    font-size: 25px;
    padding: 25px;
    display: inline-block;
    width: 200px;
}*/
.link:hover, .link1:hover, .link2:hover{
    color: var(--hover-color);
    background-color: var(--nav-hover);
}

.link-courses{
    color: var(--color);
    text-decoration: none;
    font-size: 20px;
    padding: 10px 0;
    display: inline-block;
    width: 100%;
    margin: 0;
}
.link-courses:hover{
    background-color: var(--nav-hover);
}
.link-courses:hover li{
    color: var(--hover-color);
    padding-left: 10px;

}
.navBar ul div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navBar div li{
    margin: 0px;
    list-style: none;
    width: fit-content;
}
.navBar, .languages, .switch{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
}
.show-courses{
    position: relative;
    top: 0px;
    padding: 10px;
    left: 100px;
    display: flex;
    flex-direction: column;
    background-color: var(--nav-color);
    width: 100%;
}
.show-courses li, .hide-courses li{
    display: block;
    margin: 10px 20px;
    padding: 8px 20px;
    
}

.hide-courses{
    opacity: 0;
    position: relative;
    top: -1000px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
#bar{
    font-size: 50px;
}

@media screen and (max-width:1250px) {
    .nav{
        text-align: left;
    }
    .navbar-ul{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 64px;
        right: -500px;
        background-color:var(--nav-color);
        padding: 10px;
        width: 350px;
        height: auto;
        transition: 1.5s ease-in-out;
        z-index: 2;
    }
    .navbar-ul-active{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 64px;
        right: 0px;
        background-color: var(--nav-color);
        padding: 10px;
        width: 350px;
        height: auto;
        transition: 1.5s ease-in-out;
        z-index: 2;

    }
    .navbar-ul-active div li,.navbar-ul div li{
        list-style: none;
        width: 100%;
        margin: 2px;
    }
    .mobile{
        display: block;
        padding-right: 40px;
    }
    .mobile i{
        cursor: pointer;
        color: var(--color);
        font-size: 40px;
    }
    .navBar ul div{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .link{
        display: inline-block;
        width: 200px;
    }
    .show-courses{
        position: relative;
        top: 15px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        background-color: var(--nav-color);
        width: 100%;
        left: 0;
        height: auto;
        transition: 1s ease-in-out;

    }
    .show-courses li, .hide-courses li{
        display: block;
        margin: 0px;
        padding: 2px;
        display: flex;
        justify-content: flex-start;   
    }
    
    .hide-courses{
        opacity: 0;
        position: relative;
        top: 0;
        padding: 10px;
        display: flex;
        flex-direction: column;
        height: 0px;
    }
    .link, .link1, .link2{
        margin: 0px;
        padding: 20px;
    }
    .link1{
        margin-bottom: -15px;
    }
    .link-courses{
        width: 120%;
    }

    
}